$secondary: #6E759F;
$success: #57CA22;
$warning: #FFA319;
$error: #FAFAFA;
$info: #33C2FF;
$black: #223354;
$white: #ffffff;
$primaryAlt: #000C57;
$gray: (
  10: #FAFAFA,
  50: #F5F5F5,
  100: #E0E0E0,
  200: #B3B3B3,
  300: #A6A6A6,
  400: #848484,
  500: #686868,
  600: #424242,
  700: #303030,
  800: #151515,
  900: #000000,
  main: #686868
);
$primary: (
  10: #F8F0FF,
  50: #E5C9FA,
  100: #DBB4F9,
  200: #CD96F6,
  300: #B96EF3,
  400: #9E35EE,
  500: #7210BE,
  600: #5F0D9E,
  800: #42096D,
  main: #7210BE
);
$danger: (
  50: #F8D7D7,
  100: #F5C7C7,
  200: #F2B1B1,
  400: #E15151,
  500: #DB2E2E,
  600: #BC2020,
  700: #9D1B1B,
  main: #DB2E2E
);
$success: (
  50: #F7F6F7,
  100: #D7EADC,
  200: #B0D9BA,
  400: #6DBF81,
  500: #4FB46A,
  700: #3C9154,
  800: #328048,
  900: #256336,
  main: #4FB46A
);
$warning: (
  50: #FDF2CD,
  100: #FCEDB9,
  200: #FBE79E,
  300: #F9DD78,
  400: #F7D044,
  500: #E4B40A,
  600: #BE9708,
  700: #9E7D07,
  main: #E4B40A
);
$blue: (
  50: #F7F6F7,
  100: #D7EADC,
  200: #B0D9BA,
  400: #6DBF81,
  500: #4FB46A,
  700: #3C9154,
  800: #328048,
  900: #256336,
  main: #1D5BF9
)