/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-value: '#458566'
      --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
} */

::part(wy-conversation-new) {
  display: none;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  background-color: #fafafa;

  blockquote {
    border-left: 5px solid #f1f1f1;
    padding-left: 5px;
  }

  pre {
    background: #f1f1f1;
    border-radius: 3px;
    padding: 7px 10px;
  }
}

.body_wrapper_section {
  background-color: #fafafa;
  padding-top: 76px;
  margin-left: 76px;
}

button {
  border-radius: 4px;
}

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fafafa inset !important;
}

.custom-input {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #B8B8B8;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  z-index: 9000;
  background: #11111126;
  backdrop-filter: blur(2px);
}

input:focus-visible {
  outline: none;
}

.profile-table {
  border-collapse: separate;
  border-spacing: 0 !important
}

.css-69iwoi-MuiFormHelperText-root {
  text-transform: inherit;
}

.rowBorderStart {
  border-right: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}


.arrow__btn,
.topCategories__card {
  transition: all 0.4s ease;
}

.arrow__btn {
  color: #7210BE;
}

.topCategories__card .topCategories__icon,
.topCategories__card .topCategories__icon path {
  transition: all 0.4s ease;
}

.topCategories__card:hover .topCategories__icon {
  background: #7210BE;
}

.topCategories__card:hover .topCategories__icon path {
  fill: white;
}

.topCategories__card:hover .MuiTypography-topCategories__name {
  color: #7210BE;
}

.topCategories__card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.06);
  border-color: #E0E0E0;
}

.topCategories__btn {
  position: relative;
}

.topCategories__btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.6)
}

.topCategories__btn--arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.rowBorderMiddle {
  border-left: 0px;
  border-right: 0px;
}

.rowBorderEnd {
  border-left: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}


@media screen and (max-width:500px) {
  .search__input--models {
    height: 30px !important;
    width: 130px !important;

  }

  .search__input--models button {
    padding: 0 !important;
  }

  .header__actions {
    padding: 10px 0 !important;
  }
}

/* //styleName: Body Text/Barlow/14/Regular;
font-family: Barlow;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left; */